<%= form_for(@suggestion) do |f| %>

<div class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Enter A Suggestion</legend>

  <!-- Text input-->
  <div class="form-group">
    <%= f.label :location, :class => "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :location, :type => "text", :id => "location", :placeholder => "Enter the name of the place", :class => "form-control input-md" %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <%= f.label :time, :class => "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= f.select :departure_time, [["12:00 pm", "12:00 pm"],
                                     ["9:00 am", "9:00 am"],
                                     ["9:30 am", "9:30 am"],
                                     ["10:00 am", "10:00 am"],
                                     ["10:30 am", "10:30 am"],
                                     ["11:00 am", "11:00 am"],
                                     ["11:30 am", "11:30 am"],
                                     ["1:00 pm", "1:00 pm"],
                                     ["1:30 pm", "1:30 pm"],
                                     ["2:00 pm", "2:00 pm"],
                                     ["2:30 pm", "2:30 pm"],
                                     ["3:00 pm", "3:00 pm"],
                                     ["3:30 pm", "3:30 pm"],
                                     ["4:00 pm", "4:00 pm"]], {}, { :id => "departure_time", :class => "form-control" } %>
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submit">Submit</label>
    <div class="col-md-8">
      <%= f.submit :class => "btn btn-success", :id => "submit", :name => "submit" %>
    </div>
  </div>
</fieldset>
</div>
<% end %>
