<!DOCTYPE html>
<html>
<head>
  <title>Turndownforlunch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//cdn.datatables.net/1.10.1/css/jquery.dataTables.css" rel="stylesheet">
  <link href = "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" >
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "Turn Down For Lunch", root_path, :class => "navbar-brand" %>
      </div><!-- .navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
    		  <li>
            <% if current_user %>
              <p class="navbar-text">
                <%= link_to 'Add Suggestion', new_suggestion_path, :class =>"navbar-link" %>
              </p>
            <% else %>
              <p class="navbar-text">
                <%= link_to 'Add Suggestion', login_path, :class =>"navbar-link" %>
              </p>
            <% end %>
          </li>
          <li>
            <div>
              <% if current_user %>
                <p class="navbar-text">Signed in as <%= current_user.name %></p>
                <%= link_to "Logout", logout_path, :class => "btn btn-default navbar-btn" %>
              <% else %>
                <%= link_to "Login", login_path, :class => "btn btn-default navbar-btn" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div><!-- .navbar-collapse -->

    </div><!-- .container-fluid -->
  </nav>
<div class="container">
<%= yield %>
</div>
<script src="//cdn.datatables.net/1.10.1/js/jquery.dataTables.js"></script>
</body>
</html>
